<%= render 'shared/errors', obj: @challenge %>
<div class="card-body">
    <%= form_with(model: challenge, local: true) do |form| %>
    <div class="form-horizontal">
    
      <div class="form-group row">
        <%= form.label :title , class:"col-sm-2 form-control-label" %>
        <%= form.text_field :title, class:"col-sm-10", required: true %>
      </div>

      <div class="form-group row">
        <%= form.label :description , class:"col-sm-2 form-control-label" %>
        <%= form.text_area :description, class:"col-sm-10", required: true %>
      </div>
      <div class="form-group row">
        <%= form.label :start_date , class:"col-sm-2 form-control-label" %>
        <%= form.datetime_select :start_date, class:"col-sm-10" %>
      </div>
      <div class="form-group row">
        <%= form.label :end_date , class:"col-sm-2 form-control-label" %>
        <%= form.datetime_select :end_date, class:"col-sm-10" %>
      </div>
      <div class="form-group row">
        <%= form.label :goal , class:"col-sm-2 form-control-label"  %>
        <%= form.number_field :goal, in: 1.00..999.00, step: 0.1 , class:"col-sm-10"%>
      </div>
      <div class="form-group row">
        <%= form.label :active , class:"col-sm-2 form-control-label" %>
        <%= form.select(:active, [["True", true], ["False", false]], class:"col-sm-10 mb-3") %>
      </div>
      <div class="form-group row">
        <%= form.submit class:"col-sm-10 offset-sm-2 btn btn-primary" %>
      </div>

    </div>

  <% end %>
  
  </div>

</div>

