<div class="card">
  <div class="card-header">
    <%= @challenge.title %>
  </div>
  <div class="card-body">
    <div class="card-subtitle">
      <%= @challenge.user.email %>  
    </div>
    <div class="card-text">
      <%= @challenge.description %> 
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Goal: <%= @challenge.goal %></li>
      <li class="list-group-item">Start Date: <%= @challenge.start_date %></li>
      <li class="list-group-item">End Date: <%= @challenge.end_date %></li>
      <li class="list-group-item">Active: <%= @challenge.active %></li>
    </ul>
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_challenge_path(@challenge), class:"btn-sm btn-success" %> | 
    <%= link_to 'Delete', challenge_path(@challenge), method: :delete, class:"btn-sm btn-danger" %>|
    <%= link_to 'Back', challenges_path, class:"btn-sm btn-dark" %>
  </div>
  <div class="card-footer">
    <% if challenge_competitor?(@challenge.id, current_user) %>
      <%= link_to "Join Challenge", competitors_path(challenge: @challenge), class: "btn-sm btn-info", method: :post %>
    <% else %>
      <%= link_to "Leave Challenge", competitor_path(challenge: @challenge, user: current_user), method: :delete, class:"btn-sm btn-danger" %>
  <% end %>
  </div>
</div>

<% if !challenge_competitor?(@challenge.id, current_user) %>
  <div class="d-flex justify-content-center">
      <%= form_for(:user_challenge_detail, url: user_challenge_details_path) do |f| %>
        <%= f.hidden_field :competitor_id, value: challenge_competitor(@challenge.id, current_user).id %>
        <div class="form_group row">
          <div class="col-form-label col-sm-3">
            <%= f.label :detail %>
          </div>
          <div class="col-sm-4">
            <%= f.number_field :detail, step: 0.1, class: "form-control", autofocus: true %>
          </div>
          <%= f.submit "Add", class:"btn-sm btn-primary" %>
        </div>
      <% end %>
    </div>
<% end %>
<%= render 'user_challenge_details/user_details' %>